# Arquivos de objeto
*.o
*.ko
*.obj
*.elf

# Arquivos de biblioteca
*.lib
*.a
*.la
*.lo

# Executáveis
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
SistemaSolar

# Arquivos de debug
*.dSYM/
*.su
*.idb
*.pdb

# Diretórios de build
build/
Debug/
Release/

# Arquivos gerados automaticamente
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h.in
config.sub
configure
depcomp
install-sh
missing
stamp-h1

# Arquivos específicos do IDE
.vscode/
.idea/
*.swp
*~

# Arquivos temporários
*.tmp
*.bak
*.log

# Outros
.DS_Store
Thumbs.db 